@model IEnumerable<CarShop.Models.Car>
@{
}


    <h1>Car shop</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Model</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
            <tr>
                <td>@car.Title</td>
                <td>@car.Model</td>
                <td>@car.Price</td>
                <td><a href="~/Home/Buy/@car.CarId">Buy</a></td>
            </tr>
            }
        </tbody>
    </table>
