@model CarShop.Models.ViewModels.CarListViewModel
@{
}


<h1>Car shop</h1>

@*@await Html.PartialAsync("CarsList")*@


<div class="form-group">
    <input id="searchText" type="text" class="form-control" />
    <button id="searchBtn" class="form-control btn btn-primary">Search</button>
</div>

<div id="car-list"></div>